<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="ConnectionString" value="Data Source=DESKTOP-SBCUNGL\SQLEXPRESS;Initial Catalog=SkiResort;Integrated Security=true;"/>
		<add key="ParentTable" value="Skiers"/>
		<add key="ChildTable" value="Equipment"/>
		<add key="Relation" value = "SkiersEquipment"/>
		<add key="ParentColumn" value="skier_id"/>
		<add key="ChildColumn" value="skier_id"/>

	</appSettings>
</configuration>