.table-container {
    border-collapse: collapse;
    width: 250px;
    height: 250px;
}

.table-container td {
    height: 50px;
    width: 50px;
    background-image: url("assets/images/flower-pixelated.png");
    background-size: 250px 250px;
    transition: background-image 0.5s ease-in-out, background-size 0.5s ease-in-out, background-position 0.5s ease-in-out;
}

.table-container td:hover {
    background-image: url("assets/images/flower.jpg");
}

.table-container .cell-1-1 {
    background-position: 0% 0%;
}

.table-container .cell-1-2 {
    background-position: 25% 0%;
}

.table-container .cell-1-3 {
    background-position: 50% 0%;
}

.table-container .cell-1-4 {
    background-position: 75% 0%;
}

.table-container .cell-1-5 {
    background-position: 100% 0%;
}

.table-container .cell-2-1 {
    background-position: 0% 25%;
}

.table-container .cell-2-2 {
    background-position: 25% 25%;
}

.table-container .cell-2-3 {
    background-position: 50% 25%;
}

.table-container .cell-2-4 {
    background-position: 75% 25%;
}

.table-container .cell-2-5 {
    background-position: 100% 25%;
}

.table-container .cell-3-1 {
    background-position: 0% 50%;
}

.table-container .cell-3-2 {
    background-position: 25% 50%;
}

.table-container .cell-3-3 {
    background-position: 50% 50%;
}

.table-container .cell-3-4 {
    background-position: 75% 50%;
}

.table-container .cell-3-5 {
    background-position: 100% 50%;
}

.table-container .cell-4-1 {
    background-position: 0% 75%;
}

.table-container .cell-4-2 {
    background-position: 25% 75%;
}

.table-container .cell-4-3 {
    background-position: 50% 75%;
}

.table-container .cell-4-4 {
    background-position: 75% 75%;
}

.table-container .cell-4-5 {
    background-position: 100% 75%;
}

.table-container .cell-5-1 {
    background-position: 0% 100%;
}

.table-container .cell-5-2 {
    background-position: 25% 100%;
}

.table-container .cell-5-3 {
    background-position: 50% 100%;
}

.table-container .cell-5-4 {
    background-position: 75% 100%;
}

.table-container .cell-5-5 {
    background-position: 100% 100%;
}