body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.container{
    display:flex;
    flex-direction: column;
    padding-top:20px;
    gap: 20px;
}

.buttonsContainer{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    gap: 20px;
    justify-content: center;
}

.linksContainer{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 10px;
    align-items: center;
}

